@import '//fonts.googleapis.com/css?family=Overlock|Patua+One|PT+Sans:400,400italic|PT+Mono';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: url("../image/bg.gif");
  font-family: 'Patua One';
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #f0f;
}
header {
  background: linear-gradient(rgba(255,255,238,0.533), rgba(238,255,238,0.533), rgba(238,255,255,0.533));
  box-shadow: 0 4px 8px #808080;
  margin-bottom: 1em;
}
header h1 {
  margin-top: -0.4em;
  margin-bottom: -0.3em;
  font-size: 300%;
  text-align: center;
}
header h1 a {
  font-weight: bold;
  color: #036;
  letter-spacing: 0.1em;
  text-shadow: 0.008em 0.008em 0.02em #c0c0c0, 0.016em 0.016em 0.02em #c0c0c0, 0.024em 0.024em 0.02em #c0c0c0, 0.032em 0.032em 0.02em #c0c0c0, 0.04em 0.04em 0.02em #c0c0c0;
}
header nav {
  overflow: auto;
}
header nav a {
  display: inline-block;
  text-align: center;
  width: 2em;
  padding: 0 1em;
  font-family: Overlock;
  font-weight: bold;
  font-size: 120%;
  color: #00008b;
}
footer {
  background: rgba(238,255,238,0.533);
  box-shadow: 0 -4px 8px #808080;
  margin-top: 2em;
  display: flex;
}
footer div {
  display: inline-block;
}
footer .prev-next a {
  font-size: 150%;
}
footer #prev a:before {
  content: "←";
}
footer #next a:after {
  content: "→";
}
footer #middle {
  flex-grow: 1;
  text-align: center;
}
footer #middle ul {
  list-style: none;
}
footer #middle ul li {
  display: inline;
}
footer #middle ul li:after {
  content: " · ";
}
footer #middle ul li:last-child:after {
  content: none;
}
mason-editor {
  visibility: hidden;
  margin: 1em 10%;
  min-width: 400px;
}
main {
  font-family: 'PT Sans';
}
main section {
  margin: 0 1em;
  padding: 1em;
  background: rgba(255,255,255,0.4);
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
}
main h1 {
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  color: #8b008b;
  font-family: Overlock;
}
main h1:before {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  border-top: solid 1px #000;
  width: calc(50% - 4em);
}
main h1:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  border-top: solid 1px #000;
  left: calc(50% + 4em);
  width: calc(50% - 4em);
}
main h2 {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 150%;
  font-weight: bold;
  color: #00008b;
  font-family: Overlock;
}
main em {
  font-style: italic;
}
main strong {
  font-style: bold;
}
main code,
main var {
  font-family: 'PT Mono';
  font-weight: bold;
  color: #800000;
}
main a {
  font-family: 'PT Mono';
  color: #4b0082;
  font-weight: bold;
  text-decoration: none;
}
main table {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255,255,255,0.533);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0 2px 4px #808080;
}
main table thead {
  background: #fff;
  border-bottom: 1px solid #808080;
  color: midnightBlue;
  font-weight: bold;
  font-family: sans;
}
main table td {
  padding: 0 2em;
  text-align: left;
}
main ul {
  margin: 1em;
}
main ul li {
  margin: 0.5em 0;
  list-style: none;
}
main pre.code,
main pre.command {
  margin: 1em 4em;
  color: #fff;
  font-weight: bold;
  background: rgba(0,0,0,0.733);
  border-top-right-radius: 99em;
  border-bottom-right-radius: 99em;
}
main h3 {
  font-size: 100%;
  font-weight: bold;
}
main .aside {
  color: #444;
}
main .aside:before {
  content: "(";
}
main .aside:after {
  content: ")";
}
