include mixins

- path = filename.match(/assets\/view\/(.+).jade/)[1]
- fullTitle = path === 'index' ? 'mason' : `mason.${path}`
- rootUrl = 'http://mason-lang.org'

doctype html
html
	head
		title #{fullTitle}
		meta(charset='utf-8')

		link(rel='icon' href='icon.svg')

		// Shim
		link(rel='stylesheet' href='/style/reset.css')
		script(src='/lib/webcomponentsjs/webcomponents.js')

		// ID needed because mason-editor.js is not run inside of this.
		link#link-mason-editor(rel='import' href='/mason-editor.html')

		// I'd like to include this in mason-editor.jade, but RequireJS won't let me.
		script(src='/lib/requirejs/require.js' data-main='/script/index.js')
		link(rel='stylesheet',
			href='http://fonts.googleapis.com/css?family=Overlock|Patua+One|PT+Sans:400,400italic|Oxygen+Mono')
		link(rel='stylesheet' href='/style/layout.css')

	body
		header
			h1
				a(href='/') mason

			block subheader
				// default, can change
				nav
					a(href='tour') tour
					a(href='setup.html') setup

		main
			block content

		footer
			div#prev.prev-next
				block foot-prev

			div#middle
				ul
					li public domain
					li #[a(href='#{gitRoot}') #[i.fa.fa-github]]
					li
						a(href='mailto:andy.pj.hanson@gmail.com') contact

			div#next.prev-next
				block foot-next
