extends _lib/layout

block content
	section
		p Mason is a new language compiling to JavaScript.
		p See #[a(href='./why') why mason?] or the #[a(href='./tour') tour] to start learning.

	+hdr('examples')
	section
		p Mason is used in real projects!
		ul
			li
				a(href='//github.com/mason-lang/mason-lang.github.io') this site
			li
				a(href='//andy-hanson.me/thrifty-threesome-thriller') thrifty threesome thriller
			li
				a(href='//andy-hanson.me/doppler-effect') doppler effect
			li
				a(href='//andy-hanson.me/slots') slots
