extends _lib/layout

block head
	//move
	link(rel='stylesheet' href='/style/index.css')

block content
	section
		#logo
			img(src='image/logo.png')
			strong minus interpunctione ◆ patet disciplinam
		p Mason is a new programming language compiling to JavaScript.
		p See #[a(href='./why') why Mason?] or the #[a(href='./tour') tour] to start learning.

	+hdr('examples')
	section
		p Mason is used in real projects!
		ul
			li
				a(href='//github.com/dum-build/dum') dum
			li
				a(href='//github.com/mason-lang/mason-lang.github.io') this site
			li
				a(href='//github.com/andy-hanson/thrifty-threesome-thriller') thrifty threesome thriller
			li
				a(href='//github.com/andy-hanson/doppler-effect') doppler effect
			li
				a(href='//github.com/andy-hanson/slots') slots
