extends _lib/layout

block content
	h1 node
	section
		p.
			Even if you only plan to use mason in the browser,
			you'll still need to install #[a(href='//nodejs.org') node.js].

	+hdr('start')
	section
		p To test out your node installation, try running this:
		pre.command.
			mkdir test; cd test
			sudo npm install -g mason-cli
			npm install amdefine msl
			echo 'console.log "hello world!"' > hello.ms
			mason run hello.ms
		p #[+ms-project('mason-cli')] is good for scripts, but for projects you should use a build system.

	+hdr('build')
	section
		p Mason does not come with a build tool.
		p Instead, it works with existing build systems.
		ul
			li #[+ms-project('jstransformer-mason')] (for #[a(href='//dum-build.org') dum])
			li #[+ms-project('broccoli-mason')]
			li #[+ms-project('gulp-mason')]
			li #[+ms-project('fly-mason')]

	+hdr('edit')
	section
		p Mason syntaxes exist for these text editors:
		ul
			li #[+ms-project('mason-atom')] for #[a(href='//atom.io') atom]
			li #[+ms-project('mason-tmLanguage')] for #[a(href='//sublimetext.com') sublime] and #[a(href='//macromates.com') textmate]
