extends _lib/layout

block content
	section
		p Mason is designed to #[em reduce] the syntax of JavaScript (JS) and #[em expand] its capabilities.

		p Its goals are:
		ul
			li.
				Be syntactically light. No #[code { } ( ) , ;] all over the place.
			li
				p Everything JS can do, Mason can do better.
				p.
					The core language is just JavaScript with new syntax.
					You can convert a JS project to Mason without changing the design at all.
			li.
				Mason uses a mandatory standard library #[span.aside a small one] called #[+ms-project('msl')] to provide basic functionality missing from JS.
				Many of msl's functions are builtins, values that are accessed like globals but are implicitly imported.
			li.
				Don't impose any style.
				Mason isn't X-oriented for #[em any] X.
				It adds new features but doesn't force you to use any of them.

		p So what features does it add? You'll read them all in the #[a(href='./tour') tour], but here's a preview:
		ul
			li.
				#[a(href='tour/basic#build') Builder] syntax for constructing objects, lists, and maps. It's also a nice syntax for declarative data.
			li.
				Most statements (such as #[code if], #[code switch], etc.) are also values.
			li #[a(href='tour/try#assert') Assertions].
			li.
				#[a(href='tour/poly') Polymorphs]: functions that can be polymorphically implemented by many types, including builtin types.
			li.
				#[a(href='tour/trait') Traits]: abstract types that support multiple inheritance and can be safely implemented by builtin types.
			li.
				#[a(href='tour/type') Type] declaration syntax.
			li #[a(href='tour/async') Async] functions.

		p Planned features:
		ul
			li HTML construction syntax (like #[a(href='//facebook.github.io/react/docs/jsx-in-depth.html') JSX] but not bound to any framework, good for both client and server)
			li Discriminated union syntax (actually just a class heirarchy)
			li #[a(href='//github.com/jeffmo/es-class-static-properties-and-fields') Class properties]
			li #[a(href='//github.com/wycats/javascript-decorators') Decorators]

		p It's under active development #[a(href='//github.com/mason-lang') here].

		+request-for-comments()
