@require 'lib'

@import '//fonts.googleapis.com/css?family=Overlock|Patua+One|PT+Sans:400,400italic|PT+Mono'

*
	margin 0
	padding 0

html, body
	background url('../image/bg.gif')
	font-family 'Patua One'
	height 100%

a
	text-decoration none
a:hover
	color #f0f

header-footer-shadow-size = 4px

header
	background linear-gradient(#ffe8, #efe8, #eff8)
	box-shadow 0 header-footer-shadow-size (header-footer-shadow-size * 2) gray
	margin-bottom 1em

	h1
		margin-top -0.4em
		margin-bottom -0.3em
		font-size 300%
		text-align center

		a
			font-weight bold
			color #036
			letter-spacing 0.1em
			f(val)
				size = 0.04em
				size*val size*val size*0.5 silver
			text-shadow f(.2), f(.4), f(.6), f(.8), f(1)

	nav
		overflow auto

		a
			display inline-block
			text-align center
			padding 0 0.5em

			font-family Overlock
			font-weight bold
			font-size 120%
			color darkblue

footer
	background #efe8
	box-shadow 0 (header-footer-shadow-size * -1) (header-footer-shadow-size * 2) gray
	margin-top 2em

	display flex

	div
		display inline-block

	.prev-next a
		font-size 150%

	#prev a:before
		content "←"
	#next a:after
		content "→"

	#middle
		flex-grow 1
		text-align center

		ul
			list-style none

			li
				display inline
			li:after
				content " · "
			li:last-child:after
				content none

mason-editor
	// Prevents FOUC. Overwritten by mason-editor.js.
	visibility hidden

	margin 1em 10%
	min-width 400px

main
	font-family 'PT Sans'

	section
		margin 0 1em
		padding 1em
		background #fff6
		// Generally this will be as high as possible, meaning it closes like a 'D'.
		border-radius-right 4em

	h1
		position relative

		margin-top 0.5em
		margin-bottom 0.25em
		font-size 200%
		font-weight bold
		text-align center
		color darkmagenta
		font-family Overlock

	h1-line()
		content ''
		display block
		height 1px
		position absolute
		top 50%
		border-top solid 1px black
	h1:before
		h1-line()
		width calc(50% -  4em)
	h1:after
		h1-line()
		left calc(50% + 4em)
		width calc(50% - 4em)


	h2
		margin-left 2em
		margin-top 0.5em
		margin-bottom 0.25em
		font-size 150%
		font-weight bold
		color darkblue
		font-family Overlock

	em
		font-style italic
	strong
		font-style bold
	code, var
		font-family 'PT Mono'
		font-weight bold
		color maroon

	a
		font-family 'PT Mono'
		color indigo
		font-weight bold
		text-decoration none

	table
		margin 1em
		center-x()
		background #fff8
		border-radius-bottom 2em
		box-shadow 0 2px 4px gray

		thead
			background white
			border-bottom 1px solid gray
			color midnightBlue
			font-weight bold
			font-family sans

		td
			padding 0 2em
			text-align left

	ul
		margin 1em
		li
			margin 0.5em 0
			list-style none

	pre.code, pre.command
		margin 1em 4em
		color white
		font-weight bold
		background #000b
		border-radius-right 99em

	h3
		font-size 100%
		font-weight bold

	.aside
		color #444
	.aside:before
		content "("
	.aside:after
		content ")"
