border-radius-top(val)
	border-top-left-radius val
	border-top-right-radius val
border-radius-bottom(val)
	border-bottom-left-radius val
	border-bottom-right-radius val
border-radius-right(val)
	border-top-right-radius val
	border-bottom-right-radius val

anim(keyframes duration)
	-webkit-animation keyframes duration
	-moz-animation keyframes duration
anim-iteration-count(val)
	-webkit-animation-iteration-count val
	-moz-animation-iteration-count val
anim-timing-function(val)
	-webkit-animation-timing-function val
	-moz-animation-timing-function val

center-x()
	margin-left auto
	margin-right auto
