extends _layout

block content
	+hdr('locals')
	section
		p.
			#[code =] declares a local.
			#[span.aside So does in #[code a. b] in object builders.]
		p.
			#[code :=] changes the value of a previously declared local.
			#[span.aside For object builders, this does #[em not] change #[code built].]

	mason-editor
		pre.
			a = 1
			. a
			a := 2
			. a

	section
		p Locals are local to the block they're declared in.
		p The compiler will stop you if you try to access an uninitialized local.

	+hdr('properties')

	section
		p To access a property on an object, use #[code obj.prop].
		p To access a property on #[code this], use #[code .prop].

	mason-editor
		pre.
			obj = (x. 0)
			. obj.x
			f = .|
				.x
			. f.call obj

	section
		p Object properties assignment has a similar syntax to local assignment.
		p #[code =] creates a new property #[span.aside throwing if it already exists].
		p #[code :=] compiles to JavaScript's normal property assignment, meaning it mutates or creates properties on the fly.

	mason-editor
		pre.
			obj = (x. 1)
			obj.y = 1
			obj.y := 2
			|| := creates the property if necessary.
			obj.z := 3
			obj

	section
		p To access a property whose name must be computed, use #[code obj."foo"]

	mason-editor
		pre.
			obj =
				"wierd name". 1
			obj."wierd name"