extends ../_lib/layout

block subheader
	- var pages = ['basic', '=', 'if', 'try', 'poly', 'class', 'trait', 'type', 'misc', 'for', 'pattern', 'yield', 'async', 'doc']
	- var page = path.match(/tour\/(.+)/)[1]
	- var my_idx = pages.indexOf(page)

	mixin link_to(name)
		if name === 'index'
			a(href='/') tour
		else
			a(href="#{name}")= name

	nav
		for page in pages
			+link_to(page)

block foot-prev
	if my_idx !== -1 && 0 < my_idx
		- prev = pages[my_idx - 1]
		+link_to(prev)

block foot-next
	if my_idx !== -1 && my_idx < pages.length - 1
		- next = pages[my_idx + 1]
		+link_to(next)
