extends _layout

block content
	+hdr('for')
	section
		p #[code for] allows for simple loops.

	mason-editor
		pre.
			n ::= 0
			. n
			for
				n := + 1 n
				. n
				if =? n 10
					break

	section
		p You can also loop over a collection.
		p If you provide no element name, it will be the #[a(href='./if#focus') focus].

	mason-editor
		pre.
			. 0
			for n of 1..4
				. n
			for 5..99
				. _
				if =? _ 10
					break

	section
		p To return a value from the loop, provide it to #[code break].

	mason-editor
		pre.
			n ::= 0
			. for
				n := + 1 n
				if =? n 10
					break n

	+hdr('@for')
	section
		p Use #[code @for] to create a bag as you loop.
		p This makes it a map, flat-map, and filter all in one.

	mason-editor
		pre.
			@for [1 2 3 4]
				if divisible? _ 2
					. _
