extends _layout

block content
	section
		p The tour pages come with example code sections.
		p Can you see the one below? If not, try using #[a(href='//opera.com') Opera] or #[a(href='//google.com/chrome') Chrome].
		p Mason uses real JavaScript classes, which Firefox doesn't support yet.

	mason-editor
		pre.
			1

	section
		p Click on the #[i(class='fa fa-refresh')] to compile and evaluate the module and see its value (or an error message).
		p Hover over the bottom section to see the compiled JavaScript code.
		p Got it? Now go to #[a(href='./basic') basic] to start.
