extends _layout

block content
	+hdr('with')

	section
		p #[code with] lets you create an empty object and build it up by modifying it.
		p It assigns to the focus, or to a new local.

	mason-editor
		pre.
			. with []
				_.push 1
				_.push 2
			. with new Object as o
				o.x = 1
				o.y = 2

	+hdr('sub')

	section
		p #[+ms('sub')] is a #[+ms('Method')] with special syntax.
		p It does #[+ms('Map')] lookups, #[+ms('Seq')] lookups by index, and partially applies functions.

	mason-editor
		pre.
			map =
				1 -> 1
			. map[1]

			foo = |a b c
				[a b c]
			|| Call `sub` with 2 arguments.
			bar = foo[1 2]
			. bar 3

			|| Call `sub` with 1 argument.
			+2 = +[(+ 1 1)]
			. +2 1

	+hdr('region')

	section
		p #[code region] visually groups your code.
		p The code of the region goes in an indented block, but does #[i not] introduce a new program block.

	mason-editor
		pre.
			obj =
				region Nums
					one. 1
					two. 2

				region Funs
					double. *[two]

				region Calculated Nums
					four. double two
			obj.double obj.four
