include lib

doctype html
html
	head
		title #{fullTitle}
		meta(charset='utf-8')
		meta(name='description'
			content='Mason is a new programming language compiling to JavaScript. It runs on the web and in node.js.')

		link(rel='icon' href='/icon.svg')

		// ID needed because mason-editor.js is not run inside of this.
		link#link-mason-editor(rel='import' href='/mason-editor')

		// I'd like to include this in mason-editor.jade, but RequireJS won't let me.
		link(rel='stylesheet' href='/style/layout.css')

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga')
			ga('create', 'UA-66651880-1', 'auto')
			ga('send', 'pageview')

		script(src='/lib/requirejs/require.js')
		script.
			requirejs.config({
				baseUrl: '/lib',
				paths: {
					marked: 'marked/marked.min',
					msl: 'msl/lib',
					'mason-compile': 'mason-compile/lib'
				}
			})
			// kludge: need to require bootstrap because mason modules lazily load using _ms
			require(['msl/private/bootstrap'], () =>
				require(['../script/mason-editor/mason-editor']), err => { throw err })

		block head

	body
		header
			h1
				a(href='/') mason

			block subheader
				// overridden by tour subheader.
				// to get here from tour users click on 'mason' at top.
				nav
					a(href='why') why?
					a(href='setup') setup
					a(href='tour') tour

		main
			block content

		footer
			div#prev.prev-next
				block foot-prev

			div#middle
				ul
					li #[a(href='//unlicense.org/UNLICENSE') unlicensed]
					li #[a(href='#{gitRoot}') #[i.fa.fa-github]]
					li #[a(href='//andy-hanson.me') author]

			div#next.prev-next
				block foot-next
