extends lib/layout

block content
	section
		p Mason is a new language compiling to JavaScript.
		p #[i.fa.fa-warning] It's still experimental software! #[i.fa.fa-warning]
		p See #[a(href='./why.html') why mason?] or the #[a(href='./tour') tour] to start learning.

	+hdr('examples')
	section
		p Mason is used in real projects!
		ul
			li
				a(href='https://github.com/andy-hanson/thrifty-threesome-thriller') thrifty-threesome-thriller
			li
				a(href='https://github.com/mason-lang/mason-lang.github.io') this site
