doctype html
html
	head
		title Mason
		meta(charset='utf-8')

		// Shim
		link(rel='stylesheet' href='http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css')
		script(src='./lib/es6-shim/es6-shim.min.js')
		script(src='./lib/webcomponentsjs/webcomponents.js')

		// ID needed because mason-editor.js is not run inside of this.
		link#link-mason-editor(rel='import' href='./mason-editor.html')
		link(rel='import' href='./mason-explain.html')

		// I'd like to include this in mason-editor.jade, but RequireJS won't let me.
		script(src='./lib/requirejs/require.js' data-main='./script/index.js')

		link(rel='stylesheet'
			href='http://fonts.googleapis.com/css?family=Overlock|Patua+One|PT+Sans|Oxygen+Mono')
		link(rel='stylesheet' href='./style/layout.css')
	body
		header
			h1
				a(href='./index') Mason
			nav#nav(name='nav')
				a(href='./type') :type
				a(href='./test') test.
				a(href='./generator')
					:raw
						<~
				a(href='./bag') @
				a#source(href='https://github.com/andy-hanson/mason')
					i.fa.fa-github

		main
			block content
