block params
- fullTitle = path === '' ? 'mason' : `mason.${path}`

doctype html
html
	head
		title #{fullTitle}
		meta(charset='utf-8')

		// Shim
		link(rel='stylesheet' href='./style/reset.css')
		script(src='./lib/es6-shim/es6-shim.min.js')
		script(src='./lib/webcomponentsjs/webcomponents.js')

		// ID needed because mason-editor.js is not run inside of this.
		link#link-mason-editor(rel='import' href='./mason-editor.html')
		link(rel='import' href='./mason-explain.html')

		// I'd like to include this in mason-editor.jade, but RequireJS won't let me.
		script(src='./lib/requirejs/require.js' data-main='./script/index.js')
		link(rel='stylesheet'
			href='http://fonts.googleapis.com/css?family=Overlock|Patua+One|PT+Sans:400,400italic|Oxygen+Mono')
		link(rel='stylesheet' href='./style/layout.css')
	body
		- pages = 'ms = if try class type <~ misc for'.split(' ')

		mixin link_to(name)
			if name === 'index'
				a(href='/').
					index
			else
				a(href=name)
					= name

		header
			h1
				a(href='/') mason
			nav
				for page in pages
					+link_to(page)

		main
			mason-explain
				block content

		footer
			- my_idx = pages.indexOf(path)
			div#prev.prev-next
				if my_idx !== -1 && 0 < my_idx
					- prev = pages[my_idx - 1]
					+link_to(prev)

			div#middle
				ul
					li.
						public domain
					li
						a(href='/')
							i(class='fa fa-home')
					li
						a(href='mailto:andy.pj.hanson@gmail.com').
							contact

			div#next.prev-next
				if my_idx !== -1 && my_idx < pages.length - 1
					- next = pages[my_idx + 1]
					+link_to(next)
