link(rel='stylesheet' href='./lib/codemirror/lib/codemirror.css')
link(rel='stylesheet' href='./lib/font-awesome/css/font-awesome.css')
link(rel='stylesheet' href='./lib/codemirror/theme/monokai.css')
link(rel='stylesheet' href='./lib/codemirror/theme/base16-light.css')
link(rel='stylesheet' href='./lib/font-awesome/css/font-awesome.css')

link(rel='stylesheet' href='./style/mason-editor.css')

template
	div#ms
	output
		#outContainer
			#status
				i#statusIcon
			pre#out
		#js
